nav::before {
    content: "";
    background-color: rgb(255, 255, 255);
    border-radius: 10rem;
    width: 85%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: .4;
    margin: 0 4rem;}